<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.app.dao.ManagerDao" >
	<resultMap type="com.app.entiey.Manager" id="BaseManagerMap">
		<id  property="id" column="id"/>
		<result property="name" column="name"/>
		<result property="password" column="password"/>
	</resultMap>
	<!-- 根据用户名和密码获取用户 -->
	<select id="getManagerByName" parameterType="com.app.entiey.Manager" resultMap="BaseManagerMap">
		SELECT id,name,password FROM manager WHERE 
		name=#{name} AND password=#{password}
	</select>
	<!-- 根据用的id获取用户 -->
	<select id="getManagerById" parameterType="Integer" resultMap="BaseManagerMap">
		SELECT id,name,password FROM manager WHERE id=#{id} 
	</select>
	<!-- 修改用户 -->
	<update id="updateManager" parameterType="com.app.entiey.Manager" >
		UPDATE manager 
		<set>
		<if test="name != null and name !=''">name=#{name},</if>
      	<if test="password != null and password !=''">password=#{password}</if>
      	</set>
      	where id=#{id}
	</update>
</mapper>